<div class="wrapper">
  <div class="parallax_wrap">
    <div id="imageOne">
      <div class="text-box">
        <h1>Flood</h1>
        <h2>Suicideyear</h2>
      </div>
    </div>
    <div id="imageTwo">
      <div class="text-box">
        <h1>Certainty</h1>
        <h2>SBP</h2>
      </div>
    </div>
    <div id="imageThree">
      <div class="text-box">
        <h1>Thrill of Victory</h1>
      </div>
    </div>
    <div id="imageFour">
      <div class="text-box">
        <h1>Louisiana Virtual Reality Experience</h1>
        <h2>Louisiana Office of Tourism</h2>
      </div>
    </div>
    <div id="imageFive">
      <div class="text-box">
        <h1>I Put a Spell on You</h1>
        <h2>Toadies</h2>
      </div>
    </div>
    <div id="imageSix">
      <div class="text-box">
        <h1>Jardiance</h1>
        <h2>bluedog</h2>
      </div>
    </div>
  </div>

  <div class="mobile_wrap">
    <div class="mobile-image">
      <img src="../../../assets/work/Suicideyear.png" />
      <div class="mobile-text">
        <h1>Suicideyear: Flood</h1>
      </div>
    </div>
    <div class="mobile-image">
      <img src="../../../assets/work/SBP.png" />
      <div class="mobile-text">
        <h1>Certainty: SBP</h1>
      </div>
    </div>
    <div class="mobile-image">
      <img src="../../../assets/work/TOV.png" />
      <div class="mobile-text">
        <h1>Thrill of Victory</h1>
      </div>
    </div>
    <div class="mobile-image">
      <img src="../../../assets/work/VR.png" />
      <div class="mobile-text">
        <h1>Louisiana Virtual Reality Experience</h1>
      </div>
    </div>
    <div class="mobile-image">
      <img src="../../../assets/work/Toadies.png" />
      <div class="mobile-text">
        <h1>Spell on You: Toadies</h1>
      </div>
    </div>
    <div class="mobile-image">
      <img src="../../../assets/work/Jardiance.png" />
      <div class="mobile-text">
        <h1>Jardiance: bluedog</h1>
      </div>
    </div>
  </div>

</div>
