<div class="wrapper">
  <div class="container">
    <div class="text">
      <h1>CALL</h1>
      <h4>Executive Producer</h4>
      <h4 class="bold">Elizabeth Chase</h4>
      <h2>
        <a class="phone" href="tel:13105971171">310.597.1171</a>
      </h2>
      <h4 class="pad-top bold">Studio</h4>
      <h2>
        <a class="phone" href="tel:15043094433">504.309.4433</a>
      </h2>
      <h1>EMAIL</h1>
      <h2>
        <a target="_blank" href="mailto:contact@alibi.film">contact@alibi.film</a>
      </h2>
      <h1>VISIT</h1>
      <h2>651 Richard St.</h2>
      <h2>New Orleans, LA 70130</h2>
    </div>
  </div>
</div>
