<div class="footer">
  <div class="social-footer">
    <a href="https://www.facebook.com/AlibiFilmsNOLA/" target="_blank">
      <i class="fa fa-facebook-square fa-2x"></i>
    </a>
    <a href="https://twitter.com/AlibiFilms?lang=en" target="_blank">
      <i class="fa fa-twitter-square fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/company/alibi-films/" target="_blank">
      <i class="fa fa-linkedin fa-2x"></i>
    </a>
  </div>
  <p>&copy; 2017 Alibi Films, LLC. All rights reserved.</p>
</div>
