<div class="wrapper">
  <div class="about-item text top">
    <h2>This is the part where we explain ourselves.</h2>
    <h3>
      <span class="bold">Who we are:</span> a network of full-time filmmakers who share high standards and a joie de vivre. </h3>
    <h3>
      <span class="bold">What we’re working on:</span> commercials, branded content, short films, and music videos.</h3>
    <h3>
      <span class="bold">Where we’re working:</span> Alibi is based in New Orleans, Louisiana but our production contacts span the globe and
      we can be ready to travel at the drop of a hat.</h3>
    <h3>
      <span class="bold">We believe</span> in process as experience with as much value as the final film — staying curious, being meticulous,
      using every resource to create something great. And sometimes that means staying up late and getting up early to work
      on content that communicates our clients’ core values with knowledge, innovation, skill, and style.</h3>
    <h3 class="foot">That’s pretty much it. That’s our alibi.</h3>
  </div>
  <div class="about-item map">
    <friends-map></friends-map>
  </div>
  <div class="about-item text bottom">
    <h2>"If you want to build a ship, don't drum up people to collect wood and don't assign them tasks and work, but rather teach
      them to long for the endless immensity of the sea." -Antoine de Saint-Exupery</h2>
  </div>
</div>
