<div class="services">
  <div class="header">
    <div class="flex-item fill"></div>
    <div class="line flex-item"></div>
    <h1 class="title flex-item">Resources</h1>
    <div class="line flex-item"></div>
    <div class="flex-item fill"></div>
  </div>
  <div class="flex">
    <div class="service-item">
      <img src="../../../assets/services/clapper.jpg" alt="talent" [routerLink]="['/reels']" />
      <h2>Industry Professionals</h2>
      <p>Alibi is a collaborative force on your side through every stage of your project, from concept development to finishing.
        Our producers, directors, cinematographers, and editors are professionals ready to listen, advise, and help you create
        impactful content that you can be confident to show the world. </p>
    </div>
    <div class="service-item">
      <img src="../../../assets/services/alexa_mini.jpg" alt="alexa" [routerLink]="['/work']" />
      <h2>Gear</h2>
      <p>Equipment rentals often form some of the biggest line items within a budget. With our ARRI and Canon camera packages,
        two VR rigs, DJI drone, a fully outfitted grip truck, and editing suites with live action 360 editing, compositing,
        and animation capability, we’re able to streamline the process and meet budgetary needs. If you can dream it, we
        can produce it in studio. </p>
    </div>
    <div class="service-item">
      <img src="../../../assets/services/ror.jpg" alt="ror" [routerLink]="['/about']" />
      <h2>Personality</h2>
      <p>Our team represents a range of perspectives, sensibilities, and styles. So whether you require humor and quirky stop-motion
        animation or sweeping drone shots to inspire awe, we will pair you with people that
        <span>get</span> you and what you're trying to accomplish.</p>
    </div>
  </div>
</div>
